html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Pano Bold", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Pano", sans-serif;
}

@font-face {
  font-family: "Pano";
  src: url("../fonts/Pano Trial Regular.woff2") format("woff2"), url("../fonts/Pano Trial Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: extra-expanded;
  unicode-range: U+0020-00FD;
}

@font-face {
  font-family: "Pano Bold";
  src: url("../fonts/Pano Trial Bold.woff2") format("woff2"), url("../fonts/Pano Trial Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: extra-expanded;
  unicode-range: U+0020-00FD;
}

@media only screen and (min-width: 900px) {
  .header-nav {
    height: 15vh;
    padding: 0 2vw 1vw 2vw;
    overflow: hidden;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav .title {
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-nav .title .museum {
    clear: both;
    font-size: 1.9vh;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .header-nav .title .museum #museum_name {
    color: red;
    float: left;
    font-size: 2.3vw;
    height: 10vh;
    margin: 0.5vw 2rem 0 0;
    width: 15vw;
  }
  .header-nav .title .museum #museum_address {
    color: red;
    float: left;
    font-size: 2.3vw;
    height: 10vh;
    padding: 0 2vw 0 0;
    margin: 0.5vw 2vw 0 6vw;
    width: 30vw;
  }
  .header-nav .title #socials .socials-btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 4vh;
    padding: 0.5rem;
  }
  .header-nav .title #socials .socials-btn-a:hover,
  .header-nav .title #socials .socials-btn :active,
  .header-nav .title #socials .socials-btn :visited {
    color: black;
  }
  .header-nav .title .lang {
    margin: 0.5rem 3rem 0 0;
    width: 5vw;
  }
  .header-nav .title .lang #en,
  .header-nav .title .lang #de {
    color: red;
    font-size: 1.8vw;
    text-decoration: none;
  }
  .header-nav .title .lang #en:hover,
  .header-nav .title .lang #de:hover {
    color: black;
  }
  .header-nav nav {
    float: inline-start;
    padding: 2vw 0 0vw 0;
    font-size: 1vw;
    height: 6vh;
  }
  .header-nav nav ul {
    padding: 0;
    margin: 0;
  }
  .header-nav nav ul li {
    display: inline-block;
    padding: 0 1vw 0 0;
  }
  .header-nav nav ul li .nav-link {
    color: blue;
    text-decoration: none;
  }
  .header-nav nav ul li .nav-link:hover, .header-nav nav ul li .nav-link:visited {
    color: blue;
    -webkit-text-decoration: underline #77f330 0.5rem;
            text-decoration: underline #77f330 0.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .header-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 1vw 0 2vw;
    padding: 0 1vw 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-nav .museum {
    clear: both;
    font-size: 1.7vh;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .header-nav .museum #museum_name {
    color: red;
    float: left;
    height: 8vh;
    width: 15vw;
  }
  .header-nav .museum #museum_address {
    display: none;
  }
  .header-nav #socials button {
    display: none;
  }
  .header-nav .lang {
    width: 5vw;
    padding: 3vw 5vw 0 40vw;
  }
  .header-nav .lang #en,
  .header-nav .lang #de {
    color: red;
    font-size: 2vw;
    text-decoration: none;
  }
  .header-nav .lang #en:hover,
  .header-nav .lang #de:hover {
    color: black;
    font-family: "Pano", sans-serif;
  }
  .header-nav .nav-menu {
    background-color: blue;
    position: fixed;
    left: -100%;
    top: 4.5rem;
    width: 100vw;
    height: 70%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav .nav-menu.active {
    left: 0;
  }
  .header-nav .nav-item {
    margin: 2rem 0 0 0;
    list-style-type: none;
  }
  .header-nav .nav-item .nav-link {
    color: white;
    text-decoration: none;
    font-size: 3vw;
  }
  .header-nav .nav-item .nav-link:hover, .header-nav .nav-item .nav-link:visited, .header-nav .nav-item .nav-link:active {
    color: white;
    -webkit-text-decoration: underline #77f330 0.5rem;
            text-decoration: underline #77f330 0.5rem;
  }
  .header-nav .hamburger {
    cursor: pointer;
    display: block;
    padding: 3vw 0 0 30vw;
  }
  .header-nav .hamburger .bar {
    background-color: blue;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vh 1fr 1fr;
        grid-template-columns: 50vh 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    height: 79vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
  }
  .container .exhibition {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
    width: 100vw;
  }
  .container .exhibition .first-magenta {
    background-color: magenta;
    color: white;
    height: 28vh;
  }
  .container .exhibition .inverse-magenta {
    background-color: white;
    color: magenta;
    height: 28vh;
  }
  .container .exhibition .scroll-text {
    white-space: nowrap;
    -webkit-animation: marquee 60s linear infinite;
            animation: marquee 60s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
  }
  .container .exhibition .scroll-text span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .container .exhibition .scroll-text2 {
    -webkit-animation: animate 60s linear infinite;
            animation: animate 60s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    white-space: nowrap;
  }
  .container .exhibition .scroll-text2 span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  .container .event {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 2;
    overflow: hidden;
  }
  .container .event .first-red {
    background-color: red;
    color: white;
    height: 28vh;
  }
  .container .event .inverse-red {
    background-color: white;
    color: red;
    height: 28vh;
  }
  .container .event .scroll-text {
    white-space: nowrap;
    -webkit-animation: marquee 60s linear infinite;
            animation: marquee 60s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    animation-direction: reverse;
  }
  .container .event .scroll-text span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .container .event .scroll-text2 {
    -webkit-animation: animate 60s linear infinite;
            animation: animate 60s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    white-space: nowrap;
    animation-direction: reverse;
  }
  .container .event .scroll-text2 span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  .container .library {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 3;
    overflow: hidden;
    width: 100vw;
  }
  .container .library .first-cyan {
    background-color: cyan;
    color: white;
    height: 28vh;
  }
  .container .library .inverse-cyan {
    background-color: white;
    color: cyan;
    height: 28vh;
  }
  .container .library .scroll-text {
    -webkit-animation: marquee 60s linear infinite;
            animation: marquee 60s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    white-space: nowrap;
  }
  .container .library .scroll-text span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .container .library .scroll-text2 {
    -webkit-animation: animate 60s linear infinite;
            animation: animate 60s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    white-space: nowrap;
  }
  .container .library .scroll-text2 span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  .container .info {
    font-size: 2.5vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
    width: 100vw;
  }
  .container .info a {
    color: black;
  }
  .container .exhibition-overlay,
  .container .event-overlay,
  .container .library-overlay {
    display: none;
  }
  footer .nav-footer {
    text-align: center;
  }
  footer .nav-footer .toggle {
    background-color: black;
    border: none;
    color: yellow;
    cursor: pointer;
    font-size: 1.3rem;
    height: 2rem;
    outline: none;
  }
  footer .nav-footer .footer-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1vw 0 0 0;
  }
  footer .nav-footer .footer-link {
    list-style-type: none;
    font-size: 1.5rem;
    display: block;
    width: 100vw;
    padding: 0.5rem 0 0 3rem;
    text-align: left;
  }
  footer .nav-footer .nodisplay {
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 50vh;
    overflow: hidden;
    background-color: black;
    color: white;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  footer .nav-footer .nodisplay.active {
    top: 95vh;
    height: 5vh;
  }
  footer .nav-footer .a-link {
    text-decoration: none;
    color: white;
    font-family: "Pano", sans-serif;
  }
}

@media only screen and (min-width: 901px) {
  .container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 1fr 1fr;
        grid-template-columns: 50vw 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    height: 84vh;
    width: 100vw;
    overflow: hidden;
  }
  .container .exhibition {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
  }
  .container .first-magenta {
    background-color: magenta;
    color: white;
    height: 28vh;
  }
  .container .inverse-magenta {
    background-color: white;
    color: magenta;
    height: 28vh;
  }
  .container .scroll-text {
    white-space: nowrap;
    -webkit-animation: animate 60s linear infinite;
            animation: animate 60s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
  }
  .container .scroll-text span {
    display: inline;
    font-size: 20vh;
    padding: 2vw;
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .container .scroll-text2 {
    white-space: nowrap;
    -webkit-animation: marquee 60s linear infinite;
            animation: marquee 60s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .container .scroll-text2 span {
    display: inline;
    font-size: 20vh;
    padding: 2vw;
  }
  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  .container .event {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    width: 50vw;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
  }
  .container .event .first-red {
    background-color: red;
    color: white;
    height: 28vh;
  }
  .container .event .inverse-red {
    background-color: white;
    color: red;
    height: 28vh;
  }
  .container .event .scroll-text {
    white-space: nowrap;
    -webkit-animation: marquee 60s linear infinite;
            animation: marquee 60s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    animation-direction: reverse;
  }
  .container .event .scroll-text span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .container .event .scroll-text2 {
    white-space: nowrap;
    -webkit-animation: animate 60s linear infinite;
            animation: animate 60s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    animation-direction: reverse;
  }
  .container .event .scroll-text2 span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  .container .library {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    width: 50vw;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    overflow: hidden;
  }
  .container .first-cyan {
    background-color: cyan;
    color: white;
    height: 28vh;
  }
  .container .inverse-cyan {
    background-color: white;
    color: cyan;
    height: 28vh;
  }
  .container .scroll-text {
    white-space: nowrap;
    -webkit-animation: marquee 60s linear infinite;
            animation: marquee 60s linear infinite;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
  }
  .container .scroll-text span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .container .scroll-text2 {
    white-space: nowrap;
    -webkit-animation: animate 60s linear infinite;
            animation: animate 60s linear infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .container .scroll-text2 span {
    display: inline-block;
    font-size: 20vh;
    padding: 2vw;
  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
  }
  .container .info {
    float: left;
    font-size: 1.3vw;
    padding: 1rem 0 0 1rem;
    width: 50vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
  }
  .container .exhibition-overlay {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: magenta;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: -100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    width: 100vw;
    z-index: 10;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
  }
  .container .exhibition-overlay .box-one {
    color: white;
    background-color: magenta;
    height: 26vh;
    margin: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
    width: 40%;
  }
  .container .exhibition-overlay .box-one:hover {
    background-color: white;
    color: magenta;
  }
  .container .event-overlay {
    background-color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    width: 50vw;
    right: -100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    z-index: 20;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
  }
  .container .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22vw 22vw;
        grid-template-columns: 22vw 22vw;
    -ms-grid-rows: 28vh 28vh;
        grid-template-rows: 28vh 28vh;
    padding: 0.25rem;
  }
  .container .box-two {
    background-color: red;
    color: white;
    margin: 0.25rem;
    padding: 0.5rem;
  }
  .container .box-two:hover {
    background-color: white;
    color: red;
  }
  .container .library-overlay {
    background-color: cyan;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
    width: 50vw;
    right: -100%;
    height: 53vh;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    z-index: 30;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
  }
  .container .box-three {
    background-color: cyan;
    color: white;
    width: 20vw;
    height: 51vh;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .container .box-three:hover {
    background-color: white;
    color: cyan;
  }
}

@media only screen and (min-width: 900px) {
  footer .nav-footer {
    text-align: center;
  }
  footer .nav-footer .toggle {
    background-color: black;
    border: none;
    color: yellow;
    cursor: pointer;
    font-size: 1rem;
  }
  footer .nav-footer .footer-ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .nav-footer .footer-link {
    list-style-type: none;
    font-size: 1rem;
    display: block;
    width: 100vw;
    padding: 0.5rem;
    text-align: left;
  }
  footer .nav-footer .nodisplay {
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 50vh;
    overflow: hidden;
    background-color: black;
    color: white;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  footer .nav-footer .nodisplay.active {
    top: 96vh;
    height: 4vh;
  }
  footer .nav-footer .a-link {
    text-decoration: none;
    color: white;
    font-family: "Pano", sans-serif;
  }
  footer .nav-footer .a-link:hover {
    font-family: "Pano Bold", sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */